.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #724c33;
}

.App-container {
  color: #724c33;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}

.App-searchContainer {
  display: flex;
  padding-left: 48px;
  overflow: hidden;
}